@import "tailwindcss";

@theme {
  --font-sans: Geist, sans-serif;
  --color-darkBlue: oklch(0.21 0.034 264.665);
  --color-mediumBlue: @apply oklch(0.373 0.034 259.733);
}

body {
  @apply bg-darkBlue text-gray-400 text-sm font-medium;
}
